Repository kubeflow/notebooks, pull requests merged in 2024-08, with the labels that each got.

#28 test(ws): add safety prompt for E2E test execution
  workspaces/controller/Makefile
Labels: approved, lgtm, size/S, project/notebooks-v2, area/ci

#30 test(ws): add e2e tests
  workspaces/controller/api/v1beta1/workspacekind_types.go
  workspaces/controller/config/crd/bases/kubeflow.org_workspacekinds.yaml
  workspaces/controller/config/manager/kustomization.yaml
  workspaces/controller/config/manager/manager.yaml
  workspaces/controller/config/rbac/role.yaml
  workspaces/controller/config/samples/common/kustomization.yaml
  workspaces/controller/config/samples/common/workspace_data_pvc.yaml
  workspaces/controller/config/samples/common/workspace_home_pvc.yaml
  workspaces/controller/config/samples/common/workspace_service_account.yaml
  workspaces/controller/config/samples/jupyterlab_v1beta1_workspace.yaml
  workspaces/controller/config/samples/jupyterlab_v1beta1_workspacekind.yaml
  workspaces/controller/config/samples/kustomization.yaml
  workspaces/controller/internal/controller/workspace_controller.go
  workspaces/controller/internal/controller/workspacekind_controller_test.go
  workspaces/controller/test/e2e/e2e_test.go
  workspaces/controller/test/utils/utils.go
Labels: approved, lgtm, size/XL, project/notebooks-v2, area/ci

#11 ci(ws): run `make test-e2e` on GitHub Actions
  .github/workflows/controller-tests.yaml
  .github/workflows/workspaces-controller_unit-tests.yaml
Labels: approved, size/M, lgtm, area/controller, project/notebooks-v2, area/ci

#26 feat(ws): set `status.pauseTime` on workspace
  workspaces/controller/internal/controller/workspace_controller.go
  workspaces/controller/internal/controller/workspace_controller_test.go
Labels: approved, size/M, lgtm, area/controller, project/notebooks-v2
