Repository kubeflow/notebooks, pull requests merged in 2025-08, with the labels that each got.

#512 chore(ws): comment workspace details logs and pod template tabs while they are not supported
  workspaces/frontend/src/app/pages/Workspaces/Details/WorkspaceDetails.tsx
Labels: approved, lgtm, size/XS, area/frontend, area/v2, ok-to-test

#516 feat: Conditionally render masthead on Production and Standalone modes
  workspaces/frontend/config/webpack.prod.js
  workspaces/frontend/package.json
  workspaces/frontend/src/app/App.tsx
  workspaces/frontend/src/shared/style/MUI-theme.scss
Labels: approved, size/M, lgtm, area/frontend, area/v2, ok-to-test

#524 fix(ws): fixed filter by labels during workspace creation
  workspaces/frontend/src/app/pages/Workspaces/Form/image/WorkspaceFormImageList.tsx
  workspaces/frontend/src/app/pages/Workspaces/Form/image/WorkspaceFormImageSelection.tsx
  workspaces/frontend/src/app/pages/Workspaces/Form/labelFilter/FilterByLabels.tsx
  workspaces/frontend/src/app/pages/Workspaces/Form/podConfig/WorkspaceFormPodConfigList.tsx
  workspaces/frontend/src/app/pages/Workspaces/Form/podConfig/WorkspaceFormPodConfigSelection.tsx
Labels: approved, lgtm, size/L, area/frontend, area/v2, ok-to-test

#536 feat: add environment configuration files for frontend
  workspaces/frontend/.env
  workspaces/frontend/.env.cypress.mock
  workspaces/frontend/.env.development
  workspaces/frontend/.env.production
  workspaces/frontend/.gitignore
  workspaces/frontend/README.md
  workspaces/frontend/babel.config.js
  workspaces/frontend/config/cspell-ignore-words.txt
  workspaces/frontend/config/dotenv.js
  workspaces/frontend/config/stylePaths.js
  workspaces/frontend/config/webpack.common.js
  workspaces/frontend/config/webpack.dev.js
  workspaces/frontend/config/webpack.prod.js
  workspaces/frontend/package-lock.json
  workspaces/frontend/package.json
  workspaces/frontend/src/__tests__/cypress/cypress.config.ts
  workspaces/frontend/src/__tests__/cypress/cypress/tests/mocked/application.cy.ts
  workspaces/frontend/src/__tests__/cypress/cypress/tests/mocked/workspaces/WorkspaceDetailsActivity.cy.ts
  workspaces/frontend/src/__tests__/cypress/cypress/webpack.config.ts
  workspaces/frontend/src/__tests__/unit/jest.setup.ts
  workspaces/frontend/src/app/App.tsx
  workspaces/frontend/src/app/AppRoutes.tsx
  workspaces/frontend/src/app/NavSidebar.tsx
  workspaces/frontend/src/app/components/ThemeAwareSearchInput.tsx
  workspaces/frontend/src/app/components/WorkspaceTable.tsx
  workspaces/frontend/src/app/const.ts
  workspaces/frontend/src/app/context/NotebookContext.tsx
  workspaces/frontend/src/app/context/useNotebookAPIState.tsx
  workspaces/frontend/src/app/pages/WorkspaceKinds/Form/WorkspaceKindForm.tsx
  workspaces/frontend/src/app/pages/WorkspaceKinds/details/WorkspaceKindDetailsImages.tsx
  workspaces/frontend/src/app/pages/WorkspaceKinds/details/WorkspaceKindDetailsPodConfigs.tsx
  workspaces/frontend/src/app/pages/WorkspaceKinds/summary/WorkspaceKindSummary.tsx
  workspaces/frontend/src/app/pages/Workspaces/Workspaces.tsx
  workspaces/frontend/src/app/routerHelper.ts
  workspaces/frontend/src/images/logo-light-theme.svg
  workspaces/frontend/src/index.tsx
  workspaces/frontend/src/shared/typeHelpers.ts
  workspaces/frontend/src/shared/utilities/const.ts
  workspaces/frontend/src/shared/utilities/types.ts
  workspaces/frontend/tsconfig.json
Labels: approved, lgtm, size/XXL, area/frontend, area/v2, ok-to-test

#550 chore: add liavweiss as epic owner to relevant GHAs
  .github/workflows/slash-commands.yaml
  .github/workflows/validate-planning-label.yml
Labels: approved, lgtm, size/XS, ok-to-test
