Repository kubeflow/notebooks, pull requests merged in 2025-09, with the labels that each got.

#552 feat: integrate the frontend shared libraries
  workspaces/frontend/.env
  workspaces/frontend/.env.cypress.mock
  workspaces/frontend/.env.development
  workspaces/frontend/config/moduleFederation.js
  workspaces/frontend/config/transform.file.js
  workspaces/frontend/config/transform.style.js
  workspaces/frontend/config/webpack.common.js
  workspaces/frontend/config/webpack.dev.js
  workspaces/frontend/config/webpack.prod.js
  workspaces/frontend/jest.config.js
  workspaces/frontend/package-lock.json
  workspaces/frontend/package.json
  workspaces/frontend/src/__tests__/cypress/cypress/pages/navBar.ts
  workspaces/frontend/src/__tests__/cypress/cypress/tests/e2e/NamespaceSelector.cy.ts
  workspaces/frontend/src/__tests__/cypress/cypress/tests/mocked/application.cy.ts
  workspaces/frontend/src/__tests__/cypress/cypress/tests/mocked/workspaces/Workspaces.cy.ts
  workspaces/frontend/src/__tests__/cypress/cypress/tests/mocked/workspaces/filterWorkspacesTest.cy.ts
  workspaces/frontend/src/__tests__/cypress/cypress/webpack.config.ts
  workspaces/frontend/src/app/App.tsx
  workspaces/frontend/src/app/AppRoutes.tsx
  workspaces/frontend/src/app/components/LoadError.tsx
  workspaces/frontend/src/app/components/LoadingSpinner.tsx
  workspaces/frontend/src/app/components/ThemeAwareSearchInput.tsx
  workspaces/frontend/src/app/context/AppContext.tsx
  workspaces/frontend/src/app/context/BrowserStorageContext.tsx
  workspaces/frontend/src/app/context/NamespaceContextProvider.tsx
  workspaces/frontend/src/app/context/NotebookContext.tsx
  workspaces/frontend/src/app/context/WorkspaceActionsContext.tsx
  workspaces/frontend/src/app/hooks/useNamespaces.ts
  workspaces/frontend/src/app/hooks/useWorkspaceFormData.ts
  workspaces/frontend/src/app/hooks/useWorkspaceKindByName.ts
  workspaces/frontend/src/app/hooks/useWorkspaceKinds.ts
  workspaces/frontend/src/app/hooks/useWorkspaces.ts
  workspaces/frontend/src/app/pages/WorkspaceKinds/Form/WorkspaceKindForm.tsx
  workspaces/frontend/src/app/pages/WorkspaceKinds/WorkspaceKinds.tsx
  workspaces/frontend/src/app/pages/WorkspaceKinds/summary/WorkspaceKindSummaryWrapper.tsx
  workspaces/frontend/src/app/pages/Workspaces/Form/WorkspaceForm.tsx
  workspaces/frontend/src/app/pages/Workspaces/Form/kind/WorkspaceFormKindSelection.tsx
  workspaces/frontend/src/app/pages/Workspaces/WorkspaceConfigDetails.tsx
  workspaces/frontend/src/app/pages/Workspaces/WorkspacePackageDetails.tsx
  workspaces/frontend/src/app/pages/Workspaces/WorkspaceStorage.tsx
  workspaces/frontend/src/app/pages/Workspaces/Workspaces.tsx
  workspaces/frontend/src/app/pages/Workspaces/WorkspacesWrapper.tsx
  workspaces/frontend/src/app/pages/Workspaces/workspaceActions/WorkspaceStartActionModal.tsx
  workspaces/frontend/src/app/pages/Workspaces/workspaceActions/WorkspaceStopActionModal.tsx
  workspaces/frontend/src/app/standalone/NavBar.tsx
  workspaces/frontend/src/app/standalone/NavSidebar.tsx
  workspaces/frontend/src/app/standalone/ToastNotification.tsx
  workspaces/frontend/src/app/standalone/ToastNotifications.tsx
  workspaces/frontend/src/app/standalone/types.ts
  workspaces/frontend/src/app/theme-overrides.css
  workspaces/frontend/src/images/logo-dark-theme.svg
  workspaces/frontend/src/images/logo-light-theme.svg
  workspaces/frontend/src/index.html
  workspaces/frontend/src/index.tsx
  workspaces/frontend/src/shared/components/NamespaceSelector.tsx
  workspaces/frontend/src/shared/style/MUI-theme.scss
  workspaces/frontend/src/shared/typeHelpers.ts
  workspaces/frontend/src/shared/utilities/const.ts
  workspaces/frontend/src/shared/utilities/useFetchState.ts
Labels: approved, lgtm, size/XXL, area/frontend, area/v2, ok-to-test

#604 feat: Render Loading if Namespaces are fetching
  workspaces/frontend/src/__tests__/cypress/cypress/tests/mocked/workspace.mock.ts
  workspaces/frontend/src/__tests__/cypress/cypress/tests/mocked/workspaces/WorkspaceDetailsActivity.cy.ts
  workspaces/frontend/src/__tests__/cypress/cypress/tests/mocked/workspaces/filterWorkspacesTest.cy.ts
  workspaces/frontend/src/app/context/NamespaceContextProvider.tsx
  workspaces/frontend/src/app/hooks/__tests__/useWorkspaces.spec.tsx
  workspaces/frontend/src/app/hooks/useWorkspaces.ts
  workspaces/frontend/src/app/pages/Workspaces/Workspaces.tsx
Labels: approved, size/M, lgtm, area/frontend, area/v2, ok-to-test

#569 chore: update supported platforms for multi-arch builds
  workspaces/backend/Makefile
  workspaces/controller/Makefile
  workspaces/frontend/Makefile
Labels: approved, lgtm, size/XS, area/controller, area/backend, area/frontend, area/v2, ok-to-test
