Repository kubeflow/notebooks, pull requests merged in 2025-07, with the labels that each got.

#466 feat(ws): Make Create Workspace Kind button visible
  workspaces/frontend/src/app/pages/WorkspaceKinds/WorkspaceKinds.tsx
Labels: approved, lgtm, size/S, area/frontend, area/v2, ok-to-test

#452 fix(ws): Improve Workspace Creation Wizard Step Descriptions
  workspaces/frontend/src/app/pages/Workspaces/Form/WorkspaceForm.tsx
Labels: approved, lgtm, size/S, area/frontend, area/v2, ok-to-test

#434 feat(ws): backend api to create wsk with YAML
  workspaces/backend/api/app.go
  workspaces/backend/api/helpers.go
  workspaces/backend/api/response_errors.go
  workspaces/backend/api/suite_test.go
  workspaces/backend/api/workspacekinds_handler.go
  workspaces/backend/api/workspacekinds_handler_test.go
  workspaces/backend/api/workspaces_handler.go
  workspaces/backend/api/workspaces_handler_test.go
  workspaces/backend/internal/repositories/workspacekinds/repo.go
  workspaces/backend/openapi/docs.go
  workspaces/backend/openapi/swagger.json
Labels: approved, lgtm, size/XL, area/backend, area/v2, ok-to-test

#471 feat(ws): prepare frontend for validation errors during WorkspaceKind creation
  workspaces/frontend/src/app/NavSidebar.tsx
  workspaces/frontend/src/app/components/ValidationErrorAlert.tsx
  workspaces/frontend/src/app/pages/WorkspaceKinds/Form/WorkspaceKindForm.tsx
  workspaces/frontend/src/app/pages/WorkspaceKinds/Form/fileUpload/WorkspaceKindFileUpload.tsx
  workspaces/frontend/src/shared/api/__tests__/errorUtils.spec.ts
  workspaces/frontend/src/shared/api/__tests__/notebookService.spec.ts
  workspaces/frontend/src/shared/api/apiUtils.ts
  workspaces/frontend/src/shared/api/backendApiTypes.ts
  workspaces/frontend/src/shared/api/errorUtils.ts
  workspaces/frontend/src/shared/api/notebookService.ts
  workspaces/frontend/src/shared/api/types.ts
  workspaces/frontend/src/shared/mock/mockNotebookService.ts
  workspaces/frontend/src/shared/mock/mockUtils.ts
  workspaces/frontend/src/shared/style/MUI-theme.scss
Labels: approved, lgtm, size/L, area/frontend, area/v2, ok-to-test

#469 chore(ws): added cspell to enforce spelling check
  workspaces/frontend/.eslintrc.js
  workspaces/frontend/config/cspell-ignore-words.txt
  workspaces/frontend/config/cspell.config.cjs
  workspaces/frontend/config/cspell.json
  workspaces/frontend/package-lock.json
  workspaces/frontend/package.json
  workspaces/frontend/src/app/pages/WorkspaceKinds/Form/EditableLabels.tsx
  workspaces/frontend/src/app/pages/WorkspaceKinds/Form/podConfig/WorkspaceKindFormResource.tsx
  workspaces/frontend/src/app/pages/notFound/NotFound.tsx
  workspaces/frontend/src/shared/components/DeleteModal.tsx
  workspaces/frontend/src/shared/mock/mockBuilder.ts
  workspaces/frontend/src/shared/style/MUI-theme.scss
  workspaces/frontend/src/shared/utilities/useFetchState.ts
Labels: approved, lgtm, size/XXL, area/frontend, area/v2, ok-to-test

#474 chore(ws): upgrade deprecated rimraf transitive dependency
  workspaces/frontend/package-lock.json
  workspaces/frontend/package.json
Labels: approved, lgtm, size/L, area/frontend, area/v2, ok-to-test

#476 chore(ws): Add support for PF utility classes
  workspaces/frontend/package-lock.json
  workspaces/frontend/package.json
  workspaces/frontend/src/app/App.tsx
Labels: approved, lgtm, size/XS, area/frontend, area/v2, ok-to-test

#468 feat(ws): Add advanced pod configurations in Workspace Edit
  workspaces/frontend/src/app/components/ValidationErrorAlert.tsx
  workspaces/frontend/src/app/pages/WorkspaceKinds/Form/EditableLabels.tsx
  workspaces/frontend/src/app/pages/WorkspaceKinds/Form/WorkspaceKindForm.tsx
  workspaces/frontend/src/app/pages/WorkspaceKinds/Form/WorkspaceKindFormPaginatedTable.tsx
  workspaces/frontend/src/app/pages/WorkspaceKinds/Form/helpers.ts
  workspaces/frontend/src/app/pages/WorkspaceKinds/Form/image/WorkspaceKindFormImage.tsx
  workspaces/frontend/src/app/pages/WorkspaceKinds/Form/image/WorkspaceKindFormImageModal.tsx
  workspaces/frontend/src/app/pages/WorkspaceKinds/Form/podConfig/ResourceInputWrapper.tsx
  workspaces/frontend/src/app/pages/WorkspaceKinds/Form/podConfig/WorkspaceKindFormPodConfig.tsx
  workspaces/frontend/src/app/pages/WorkspaceKinds/Form/podConfig/WorkspaceKindFormResource.tsx
  workspaces/frontend/src/app/pages/WorkspaceKinds/Form/podTemplate/WorkspaceKindFormPodTemplate.tsx
  workspaces/frontend/src/app/pages/WorkspaceKinds/WorkspaceKinds.tsx
  workspaces/frontend/src/app/pages/Workspaces/Form/properties/WorkspaceFormPropertiesSecrets.tsx
  workspaces/frontend/src/app/pages/Workspaces/Form/properties/WorkspaceFormPropertiesVolumes.tsx
  workspaces/frontend/src/app/types.ts
  workspaces/frontend/src/shared/api/apiUtils.ts
  workspaces/frontend/src/shared/style/MUI-theme.scss
  workspaces/frontend/src/shared/utilities/valueUnits.ts
Labels: approved, lgtm, size/XL, area/frontend, area/v2, ok-to-test

#478 feat(ws): Refactor restYAML to restFILE
  workspaces/frontend/src/app/pages/WorkspaceKinds/Form/WorkspaceKindForm.tsx
  workspaces/frontend/src/shared/api/apiUtils.ts
  workspaces/frontend/src/shared/api/notebookService.ts
  workspaces/frontend/src/shared/api/types.ts
Labels: approved, size/M, lgtm, area/frontend, area/v2, ok-to-test

#481 fix(ws): normalize text case for workspace count buttons, update column header
  workspaces/frontend/src/app/pages/WorkspaceKinds/WorkspaceKinds.tsx
  workspaces/frontend/src/app/pages/WorkspaceKinds/details/WorkspaceKindDetailsImages.tsx
  workspaces/frontend/src/app/pages/WorkspaceKinds/details/WorkspaceKindDetailsNamespaces.tsx
  workspaces/frontend/src/app/pages/WorkspaceKinds/details/WorkspaceKindDetailsPodConfigs.tsx
  workspaces/frontend/src/shared/style/MUI-theme.scss
Labels: approved, lgtm, size/L, area/frontend, area/v2, ok-to-test

#483 feat(ws): Make Workspace Kind drawer resizable and add table view to WS kind details
  workspaces/frontend/src/app/pages/WorkspaceKinds/details/WorkspaceKindDetails.tsx
  workspaces/frontend/src/app/pages/WorkspaceKinds/details/WorkspaceKindDetailsImages.tsx
  workspaces/frontend/src/app/pages/WorkspaceKinds/details/WorkspaceKindDetailsNamespaces.tsx
  workspaces/frontend/src/app/pages/WorkspaceKinds/details/WorkspaceKindDetailsPodConfigs.tsx
  workspaces/frontend/src/app/pages/WorkspaceKinds/details/WorkspaceKindDetailsTable.tsx
Labels: approved, lgtm, size/L, area/frontend, area/v2, ok-to-test

#484 fix(ws): Implement dual scrolling for workspace kind wizard
  workspaces/frontend/src/app/pages/Workspaces/Form/WorkspaceForm.tsx
  workspaces/frontend/src/app/pages/Workspaces/Form/image/WorkspaceFormImageDetails.tsx
  workspaces/frontend/src/app/pages/Workspaces/Form/image/WorkspaceFormImageSelection.tsx
  workspaces/frontend/src/app/pages/Workspaces/Form/kind/WorkspaceFormKindDetails.tsx
  workspaces/frontend/src/app/pages/Workspaces/Form/kind/WorkspaceFormKindSelection.tsx
  workspaces/frontend/src/app/pages/Workspaces/Form/podConfig/WorkspaceFormPodConfigDetails.tsx
  workspaces/frontend/src/app/pages/Workspaces/Form/podConfig/WorkspaceFormPodConfigSelection.tsx
Labels: approved, lgtm, size/XL, area/frontend, area/v2, ok-to-test

#495 chore(ws): Upgrade vulnerable packages
  workspaces/frontend/package-lock.json
Labels: approved, lgtm, size/S, area/frontend, area/v2, ok-to-test

#368 feat(ws): add ws counts to backend wsk model
  workspaces/backend/api/suite_test.go
  workspaces/backend/internal/models/workspacekinds/funcs.go
  workspaces/backend/internal/models/workspacekinds/types.go
  workspaces/backend/openapi/docs.go
  workspaces/backend/openapi/swagger.json
Labels: approved, lgtm, size/L, area/backend, area/v2, ok-to-test

#394 feat(ws): containerize frontend component
  workspaces/frontend/.dockerignore
  workspaces/frontend/Dockerfile
  workspaces/frontend/nginx.conf
Labels: approved, lgtm, size/L, area/frontend, area/v2, ok-to-test

#340 feat(ws): add workspace pause actions backend API
  workspaces/backend/README.md
  workspaces/backend/api/app.go
  workspaces/backend/api/workspace_actions_handler.go
  workspaces/backend/api/workspace_actions_handler_test.go
  workspaces/backend/internal/models/workspaces/actions/funcs.go
  workspaces/backend/internal/models/workspaces/actions/types.go
  workspaces/backend/internal/repositories/workspaces/repo.go
  workspaces/backend/openapi/docs.go
  workspaces/backend/openapi/swagger.json
Labels: approved, lgtm, size/XXL, area/backend, area/v2, ok-to-test

#421 chore: enforce planning label rules for issues
  .github/workflows/validate-planning-label.yml
Labels: approved, lgtm, size/L, area/ci, ok-to-test

#369 chore: create `/add-sub-issue` and `/remove-sub-issue` commands
  .github/workflows/slash-commands.yaml
Labels: approved, lgtm, size/L, area/ci, ok-to-test

#502 fix(ws): Refactors toolbar and filter logic to fix "clear all filters" bug in workspace list view
  workspaces/frontend/src/__tests__/cypress/cypress/tests/mocked/workspaces/filterWorkspacesTest.cy.ts
  workspaces/frontend/src/app/components/WorkspaceTable.tsx
  workspaces/frontend/src/app/pages/WorkspaceKinds/WorkspaceKinds.tsx
  workspaces/frontend/src/app/pages/WorkspaceKinds/summary/WorkspaceKindSummary.tsx
  workspaces/frontend/src/app/pages/WorkspaceKinds/summary/WorkspaceKindSummaryExpandableCard.tsx
  workspaces/frontend/src/shared/style/MUI-theme.scss
Labels: approved, lgtm, size/XL, area/frontend, area/v2, ok-to-test

#506 feat(ws): fix workspaces table pagination
  workspaces/frontend/src/app/components/WorkspaceTable.tsx
Labels: approved, lgtm, size/L, area/frontend, area/v2, ok-to-test

#508 feat(ws): use workspace counts from API response
  workspaces/frontend/src/app/context/NamespaceContextProvider.tsx
  workspaces/frontend/src/app/hooks/__tests__/useWorkspaceCountPerKind.spec.tsx
  workspaces/frontend/src/app/hooks/useWorkspaceCountPerKind.ts
  workspaces/frontend/src/app/pages/WorkspaceKinds/details/WorkspaceKindDetailsTable.tsx
  workspaces/frontend/src/shared/api/backendApiTypes.ts
  workspaces/frontend/src/shared/mock/mockBuilder.ts
  workspaces/frontend/src/shared/mock/mockNotebookServiceData.ts
Labels: approved, lgtm, size/L, area/frontend, area/v2, ok-to-test
